<div class="notification-container">
  <!-- Single notification button -->
  <button type="button"
          class="notification-btn"
          i18n-title
   title="Tasks and Notifications"
   [ngClass]="{ 'running': hasRunningTasks }"
          (click)="toggleNotifications()">
  <svg cdsIcon="notification"
       size="20"
       title="notification"></svg>
  <span class="dot"
        *ngIf="hasNotifications">
  </span>
  <span class="d-md-none"
        i18n>Tasks and Notifications</span>
  </button>
</div>

<!-- Conditionally render panels -->
<cd-notifications-sidebar *ngIf="!useCarbonPanel"></cd-notifications-sidebar>
<cd-carbon-notification-panel *ngIf="useCarbonPanel"></cd-carbon-notification-panel>
