<div class="notification-container">
  <!-- Existing notification trigger -->
  <button type="button"
          class="notification-btn"
          i18n-title
          title="Tasks and Notifications"
          [ngClass]="{ 'running': hasRunningTasks }"
          (click)="toggleNotifications()">
    <svg cdsIcon="notification"
         size="20"
         title="notification"></svg>
    <span class="dot"
          *ngIf="hasNotifications">
    </span>
    <span class="d-md-none"
          i18n>Tasks and Notifications</span>
  </button>

  <!-- Carbon notification trigger -->
  <button type="button"
          class="notification-btn carbon-notifications"
          i18n-title
          title="Carbon Notifications"
          (click)="toggleCarbonNotifications()">
    <svg cdsIcon="notification"
         size="20"
         title="carbon-notification"></svg>
  </button>
</div>

<cd-carbon-notification-panel></cd-carbon-notification-panel>
